*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red{
  background-color: red;
  height: 150px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.blue{
  background-color: blue;
  height: 150px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green{
  background-color: green;
  height: 150px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yellow{
  background-color: yellow;
  height: 150px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  gap: 50px;
  flex-direction: row;
  
  
}